name: Test

on:
  pull_request:
  push:
    branches:
      - main

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for pull requests
  # or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - php: '7.4'
            wp: WordPress
          - php: '7.4'
            wp: WordPress#6.8.1
          - php: '7.4'
            wp: WordPress#6.7.2
          - php: '7.4'
            wp: WordPress#6.6.2
          - php: '8.0'
            wp: WordPress
          - php: '8.0'
            wp: WordPress#6.8.1
          - php: '8.0'
            wp: WordPress#6.7.2
          - php: '8.0'
            wp: WordPress#6.6.2
          - php: '8.2'
            wp: WordPress
          - php: '8.2'
            wp: WordPress#6.8.1
          - php: '8.2'
            wp: WordPress#6.7.2
          - php: '8.2'
            wp: WordPress#6.6.2
          - php: '8.4'
            wp: WordPress
          - php: '8.4'
            wp: WordPress#6.8.1
          - php: '8.4'
            wp: WordPress#6.7.2
    name: PHP ${{ matrix.php }} / ${{ matrix.wp }} Test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use desired version of Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Npm install and build
        run: |
          npm ci
          npm run build

      - name: Composer install and set phpcs
        run: |
          composer install
          composer phpcs

      - name: Running lint check
        run: npm run lint

      - name: Install Playwright dependencies
        run: npx playwright install chromium firefox webkit --with-deps

      - name: Install WordPress
        run: |
          WP_ENV_CORE=WordPress/${{ matrix.wp }} WP_ENV_PHP_VERSION=${{ matrix.php }} npm run wp-env start
          npm run wp-env run cli wp core version
          npm run wp-env run cli wp cli info

      - name: Running e2e tests
        run: npm run test:e2e

      - name: Archive debug artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: failures-artifacts-${{ matrix.php }}-${{ matrix.wp }}
          path: artifacts
          if-no-files-found: ignore
